@import 'mixins'

.welcome
  @include input-border(2px, gray)
  width: 80vw
  padding: 5vw
  position: relative
  top: 20vh
  text-align: center
  margin: auto
  flex-flow: column nowrap
  justify-content: center
