<div class="menu">
  <ul class="menu__container">
    <li class="menu__item">
      <%= link_to 'Posts', posts_path, class: 'menu__link' %>
    </li>
    <li class="menu__item">
      <%= link_to 'Facebook', 'https://facebook.com/bogdan.agafonov', class: 'menu__link', target: '_blank' %>
    </li>
    <li class="menu__item">
      <%= link_to 'Github', 'https://github.com/bobishh', class: 'menu__link', target: '_blank' %>
    </li>
  </ul>
</div>
